<h1><%= @profile.name %></h1>
<dl>
  <dt>Nome Completo:</dt>
  <dd><%= @profile.name %></dd>
  <dt><strong>Foto do perfil:</strong></dt>
  <% if @profile.avatar.present? %>
    <%= image_tag @profile.avatar %>
  <%end %>
  <dt>Nome Social:</dt>
  <dd><%= @profile.social_name %></dd>
  <dt>Data de aniversário:</dt>
  <dd><%= l @profile.birth_date %></dd>
  <dt>Formação:</dt>
  <dd><%= @profile.formation %></dd>
  <dt>Resumo:</dt>
  <dd><%= @profile.summary %></dd>
  <dt>Experiência:</dt>
  <dd><%= @profile.experience %></dd>
  <dt>Favorito:</dt>
  <dd><%= @profile.favorite %></dd>
</dl>
<% if current_user.headhunter? %>
  <%= link_to 'Voltar', jobs_path %>
<% else %>
  <%= link_to 'Voltar', root_path %>
<%end %>