<h1>Detalhes da Vaga</h1>
<%= render @job %>
<% if current_user.candidate? %>
  <%= link_to 'Candidatar-se', new_job_apply_job_path(@job) %>
<% else %>
  <ul>
      <% @job.profiles.each do |p|%>
        <li>
          <%= link_to "#{p.name}", profile_path(p) , id:"details-#{p.id}"%> |           
            <% if p.favorite? %>
              Favorito
              <%= link_to "Desfavoritar", favorite_profile_path(p), id:"unmakefav-#{p.id}"%>
            <% else %>
              <%= link_to "Favoritar", favorite_profile_path(p), id:"makefav-#{p.id}"%>
            <% end %>
        </li>
        <ul>
          <li>
            <%= link_to 'Rejeitar Candidato', send_reject_job_apply_job_path([@job,p])  %>
          </li>
          <ul>           
          </ul>
        </ul>
      <%end%> 
  </ul>
<% end %>
<%= link_to 'Voltar', jobs_path %>