<header>
  <h1>Hunter Jobs</h1>
  <h1>Bem vindo ao sistema de ofertas de emprego para headhunters</h1>
</header>

<%= I18n.translate('hello') %>
<br>
<%= I18n.localize(Time.zone.now) %>
<br>

<%= I18n.localize(Date.today) %>
<br>

<%= distance_of_time_in_words(12000) %>
<br>

<%= number_to_currency(10.0) %>