<!DOCTYPE html>
<html>
  <head>
    <title>HunterJobs</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <% if user_signed_in? %>
    <% if current_user.candidate? %>
      <%= link_to 'Meu Perfil', new_profile_path %> 
      <%= link_to 'Vagas', jobs_path %> 
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    <%end%> 
    <% if current_user.headhunter? %>
      <%= link_to 'Minhas Vagas', jobs_path %> 
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    <%end%>
  <%end%>
  </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
